name: Untagged Docker Image Cleanup

on:
  schedule:
    - cron: "30 1 * * 6"
  workflow_dispatch:

permissions:
  packages: read

jobs:
  cleanup:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/delete-package-versions@e5bc658cc4c965c472efe991f8beea3981499c55 # v5.0.0
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: "container"
          min-versions-to-keep: 10
          delete-only-untagged-versions: "true"
